# Prerequisites
*.d
.gitmodules
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/basket.cbp
/build/CMakeFiles/clion-environment.txt
/build/CMakeFiles/clion-log.txt
/build/CMakeFiles/cmake.check_cache
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/CMakeFiles/3.17.3/CMakeCCompiler.cmake
/build/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/3.17.3/CMakeSystem.cmake
/.idea/deployment.xml
/build/Makefile
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/build/CMakeFiles/progress.marks
/build/Project.cbp
/build/rhea.cbp
/.idea/rhea.iml
/build/CMakeFiles/TargetDirectories.txt
/.idea/vcs.xml
/.idea/workspace.xml
/build/sentinel/cmake_install.cmake
/build/sentinel/CMakeFiles/CMakeDirectoryInformation.cmake
/build/sentinel/Makefile
/build/sentinel/CMakeFiles/progress.marks
/build/sentinel/sentinel.cbp
/build/
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20,_8_27_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20,_8_27_PM_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20,_8_28_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20__8_27_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20__8_27_PM__Default_Changelist_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20__8_28_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20,_8_27_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20,_8_27_PM_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_9_17_20,_8_28_PM_[Default_Changelist]/shelved.patch
